.task__layer {
  display: flex;
  border-radius: 5px;
  box-sizing: border-box;
  background: linear-gradient(108.3deg, #fff8f9 7.99%, #f4f7fc 98.21%);
  overflow: auto;
  min-height: 500px;
  max-height: 700px;
  min-width: 100%;
  user-select: none;
}

.layer-droppable {
  display: inline-flex;
}

.layer-item {
  display: flex;
  height: fit-content;
  margin: 25px;
}
