.task__main {
  position: relative;
  background: #fffffff6;
  max-width: 255px;
  padding: 10px 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px var(--box-shadow-color);
}

.task-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

/* ==== Color Picker ==== */
.task-color__picker {
  position: absolute;
  z-index: 100;
  margin-top: 6px;
  background: #ffffff;
}
/* ====================== */

/* ==== Task header ==== */
.task-header {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.task-header-title {
  margin: 5px;
}

.task-header-color__picker-button {
  display: flex;
  align-items: center;
  margin: 5px;
}

.task-header-color__picker-button:hover {
  cursor: pointer;
}

/* ===================== */

.task__element {
  width: 80%;
  height: 30%;
}

.task__element {
  margin-top: 17px;
  position: relative;
  width: 100%;
}

/* ====== InputStyle style ====== */
.task__main > div > div > input {
  color: #000;
  height: 48px;
}

.task__main > div > div > div > button {
  top: 2.5px;
}
