
.task__layer {
  border-radius: 5px;
  box-sizing: border-box;
  background: linear-gradient(108.3deg, #fff8f9 7.99%, #f4f7fc 98.21%);
}

.layer-droppable {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;
  min-height: 600px;
  max-height: 900;
}

.layer-item {
  height: fit-content;
  margin: 25px;
}