html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input {
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="color" i] {}

a {
  color: var(--text-main-color);
  text-decoration: none;
  transition: 0.16s ease-out;
}

a:hover {
  color: var(--text-hover-color);
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  padding: 0px;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-main-color: #000;
  --text-hover-color: #00a99b;
  --text-button-color: #fff;

  --btn-primary-color: #201e1e;
  --btn-main-color: #fff;

  --box-shadow-color: #0000001c;
}
/* 
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.7);
} */
