.task__demo {
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  padding-top: 36px;
}

.task__wrapper {
  max-width: 1280px;
}


/* ==== Nav to task demo ==== */
.task__nav {
  margin: auto;
  max-width: 1118px;
  margin-bottom: 25px;
}

.nav__inner {
  width: 100%;
  position: relative;
}

.nav__list {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 3fr);
}

.nav__btn {
  color: var(--text-main-color);
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.15s ease-out;
  cursor: pointer;
}

.nav__btn:hover ~ button{
  color: var(--text-hover-color);
}
