.task__demo {
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  padding-top: 36px;
}

.task__wrapper {
  max-width: 1280px;
}

.task__nav {
  margin: auto;
  display: flex;
  max-width: 1280px;
}

.task__layer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
}
