.task__nav {
  margin: auto;
  max-width: 1118px;
  margin-bottom: 25px;
}

.nav__inner {
  width: 100%;
  position: relative;
}

.nav__list {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 3fr);
}

.nav__btn {
  color: var(--text-main-color);
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.15s ease-out;
  cursor: pointer;
}

.nav__btn:hover ~ button{
  color: var(--text-hover-color);
}

.task__layer {
  border-radius: 5px;
  overflow: scroll;
  box-sizing: border-box;
  background: linear-gradient(108.3deg, #fff8f9 7.99%, #f4f7fc 98.21%);
  min-height: 600px;
  max-height: 900;
}

.layer-droppable {
  display: inline-flex;
  flex-direction: row;
  max-height: auto;
}

.layer-item {
  height: fit-content;
  margin: 25px;
}