ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

#calendar {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 500px;
  box-sizing: border-box;
}

.calendar__scene {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #90b6b3;
  margin: 0;
}

.scene__month {
  background: #99bdbf;
  padding: 3em 0em;
  width: 100%;
  height: 0px;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid;
}

.month__text {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3em;
}

.scene__weeks {
  padding: 5px;
}

.scene__weekdays li {
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
}

.scene__weekdays {
  color: white;
  font-size: 18px;
  font-weight: 650;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
  background: #90b6b3;
  box-sizing: border-box;
  background-blend-mode: hard-light;
}

.scene__days {
  display: grid;
  font-weight: 900;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 55px;
  text-align: center;
  align-items: center;
}

.days--number {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.days--number:hover {
  transition: 0.5;
  border: 1px solid black;
}

.--prev,
.--next {
  color: rgb(57 57 57 / 30%);
}

.--cur {
  color: rgb(203 54 54 / 96%);
  border: 1px;
}
