.header {
  box-sizing: border-box;
  width: 100%;
  color: #000;
  position: fixed;
  top: 0;
  transition: 0.15s;
  z-index: 100;
}

.header.scrolled {
  background: #fffc;
  backdrop-filter: blur(16px);
}

.header .header__main {
  display: flex;
  flex: 0 10 auto;
  text-align: center;
  font-size: 1.15em;
}

.header .header__left {
  flex: 0 0 auto;
  width: 280px;
}

.header__right {
  display: flex;
}

.header__nav {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding: 13px 20px;
}

.logo {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  height: 29px;
  width: 86px;
}

.logo > svg {
  margin-right: 10px;
}

.header .header__main {
  display: flex;
  text-align: center;
  flex: 1 1 auto;
}

.header__menu {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.nav {
  flex: 1 1 auto;
  font-size: 1.05em;
  font-weight: 500;
}

.nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

.nav > ul > li {
  position: relative;
}

.nav > ul > li > a {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0 5px;
}

.menu__item:hover > .nav__dropdown {
  visibility: inherit;
  opacity: 1;
}

.nav__dropdown {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 35px #0003;
  color: #020202;
  left: 50%;
  margin-top: 9px;
  opacity: 0;
  padding: 10px 0 0;
  position: absolute;
  top: 100%;
  transform: translate(-50%);
  transition: .5s;
  visibility: hidden;
  min-width: 420px;
  height: 200px;
  width: auto;
}

.nav__dropdown::before {
  border-bottom-style: solid;
  border-bottom-width: 9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top-style: solid;
  border-top-width: 0;
  bottom: 100%;
  color: #fff;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  width: 0;
}

.header .header__right {
  text-align: right;
}

.header__right > button {
  margin-left: 8px;
  border-radius: 7px;
  font-size: 17px;
  padding: 5px 15px;
}

.btn.-login {
  color: var(--text-main-color);
  background: #ffffff;
  transition: 0.16s ease-out;
  box-shadow: 0px 1px 4px #0000001c;
}

.btn.-login:hover {
  color: var(--text-hover-color);
}

.btn.-signup {
  color: var(--text-button-color);
  background: var(--btn-primary-color);
  transition: 0.1s ease-out;
}

.btn.-signup:hover {
  background: var(--text-hover-color);
}
