.task__layer-task-header {
  position: relative;
  background: #fffffff6;
  max-width: 255px;
  padding: 10px 10px 0px;
  border-radius: 5px 5px 0px 0px;
  flex-grow: 1;
}

.task-header {
  position: relative;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}

.task-header-title {
  margin: 5px;
}

.task-header-popup-button {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  width: auto;
  max-height: 15px;
  border-radius: 5px;
}

.task-header-popup-button.-active {
  background: #6e6e6ecc;
}

.task-header-popup-button.-active:hover {
  background: #6e6e6ecc;
}

.task-header-popup-button:hover {
  cursor: pointer;
  background: #9999996e;
}